@font-face {
    font-family: publicsans-500;
    src: url('../font/Public_Sans/static/PublicSans-Medium.ttf');
}

@font-face {
    font-family: publicsans-700;
    src: url('../font/Public_Sans/static/PublicSans-Bold.ttf');
}

@font-face {
    font-family: publicsans-400;
    src: url('../font/Public_Sans/static/PublicSans-Regular.ttf');
}


@font-face {
    font-family: Poppins-700;
    src: url('../font/Poppins-Font/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-600;
    src: url('../font/Poppins-Font/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-400;
    src: url('../font/Public_Sans/static/PublicSans-Regular.ttf');
}

@font-face {
    font-family: Roboto-400;
    src: url('../font/Roboto-fonts/Roboto-Regular.ttf');
}

html,
body {
    overflow-x: hidden;
}

/* nav */
.navbar {
    background-color: transparent !important;
}

.navbar-qweath {
    transition: 0.4s;
}

.nav-item {
    margin-left: 5px;
    margin-right: 10px;
    padding: 14px 18px 10px 17px;
    font-family: publicsans-500;
    line-height: 18px;
    transition: 0.4;
}

.nav-item:last-child {
    margin-right: 0px;
}

.nav-link {
    padding: 0px !important;
    color: black !important;
    font-size: 16px;
}

.button-nav {
    padding: 14px 18px 10px 17px;
    margin-left: 22px;
    border-radius: 5px;
    font-family: publicsans-700;
    background-color: red;

}

.nav-item.dropdown {
    transition: 0.4s;
}

.nav-item.dropdown img {
    margin-left: 4px;
}

.navbar-light .navbar-nav .button-nav .nav-link {
    color: #FFFFFF !important;
}

.container.container-nav {
    max-width: 1195px;
}

.background-nav-scroll {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF !important;
}

.navbar-jquery {
    background-color: #FFFFFF !important
}

/* end nav */

/* banner */
.banner {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url('../img/797a31a75081d69c365aa03fc58bb325.jpg');
    background-size: cover;
    background-position: top;
}

.container-banner {
    max-width: 100%;
    padding: 0px;
}

.col-banner {
    padding: 0px;
}

.text-banner.col-banner {
    padding-top: 195px;
    padding-left: 130px;
    padding-right: 28px;
}

.imgbook-banner.col-banner {
    padding-top: 175px;
}

.content-banner-col {
    padding: 0px;
}

.button-banner ul {
    padding-left: 0px;
    list-style: none;
}

.button-banner ul li {
    display: inline-block;
    margin-top: 35px;
}

/* baner-title-text */
/* end banner */

.banner h1 {
    color: green;
    font-family: Poppins-700;
    font-size: 60px;
}

.sub-title-banner {
    font-family: Poppins-600;
    font-size: 28px;
}

.content-banner {
    margin-top: 20px;
    padding-right: 52px;
    color: #3A3A3A;
    font-family: Poppins-400;
    font-size: 17px;
}

.button-member-banner a {
    margin-right: 16px;
    padding: 14px 18px 10px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: publicsans-700;
    background-color: red;
}

.button-learnmore-banner a {
    color: #000000;
    font-size: 16px;
    font-family: publicsans-500;
}

/*end baner-title-text */

/* interview */
.container-interview {
    max-width: 100%;
    padding: 0px;
}

.text-interview {
    padding-top: 171px;
    padding-left: 71px;
    padding-right: 130px;
}

.text-interview h1 {
    margin-bottom: 37px;
    color: green;
    font-family: Poppins-600;
    font-size: 38px;
}

.text-interview p {
    margin-bottom: 46px;
    color: #3A3A3A;
    font-family: publicsans-400;
    font-size: 20px;
}

.text-interview a {
    display: inline-block;
    padding: 12px 8px 12px 13px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: publicsans-700;
    background-color: red;
}

/* end interview */
/* slide */
/* push mới 8:08 */
.slide-overview {
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-slide.png');
    background-color: #198A53;
    background-size: cover;
    mix-blend-mode: multiply;
    z-index: 1;
}

.slick-slide:first-child {
    padding-left: 210px;
}

.content-slide {
    margin-left: 210px;
}

.container-side-overview {
    padding: 0px;
    padding-top: 142px;
    margin-right: 0px;
}

.text-slide {
    margin-bottom: 14px;
    font-family: publicsans-400;
    font-size: 18px;
    color: #FFFFFF;
}

.special-text-slide {
    color: #FFFFFF;
    font-family: publicsans-700;
    font-size: 20px;
}

.container-side-overview h1 {
    margin-bottom: 22px;
    color: #FFFFFF;
    font-size: 38px;
    font-family: Poppins-600;
}

.slider {
    width: 100%;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slide {
    transition: all ease-in-out .3s;
}

/* end slide */

/* card buy */

.card-sale {
    margin-top: 116px;
}

.container-card {
    max-width: 1180px;
}

.col-text-card {
    margin: auto;
    padding-left: 9px;
    padding-right: 90px;
}

.col-text-card h1 {
    display: inline-block;
    color: green;
    font-family: Poppins-600;
    font-size: 38px;
}

.content-card {
    color: #3A3A3A;
    font-family: publicsans-400;
    font-size: 20px;
}

.special-content-card {
    color: #000000;
    font-family: publicsans-700;
    font-size: 20px;
}

.card-body.card-premium {
    position: relative;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #F95738;
}

.rotate-div-card-premium {
    position: absolute;
    top: 337px;
    left: 182px;
    width: 300px;
    height: 500px;
    transform: rotate(-149.17deg);
    background: linear-gradient(180deg, #F24A2A 0%, rgba(242, 74, 42, 0) 100%);
    z-index: 1;
}

.card-premium ul {
    list-style: none;
}

.card-premium ul li p {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 11px;
    color: #E1E1E1;
    font-family: Roboto-400;
    line-height: 16px;
}

.a-premium-card {
    display: flex;
    margin: auto;
    justify-content: center;
}

.a-premium-card a {
    display: inline-block;
    margin-top: 42px;
    margin-bottom: 40px;
    padding: 13px 47px 11px 52px;
    border-radius: 5px;
    color: #333333;
    text-align: center;
    font-family: publicsans-700;
    font-size: 16px;
    background-color: #FFFFFF;
    z-index: 9;
}

.price-premium {
    padding-bottom: 11px;
}

.col-card-premium {
    max-width: 332px;
    padding: 0px;
}

.img-card-sale {
    margin-top: 47px;
}

.title-card-premium {
    margin-top: 13px;
    margin-bottom: 9px;
    color: #F4D35E;
    font-family: publicsans-700;
    font-size: 24px;
}

.price-number-premium {
    display: inline-block;
    margin-bottom: 3px;
    color: #FFFFFF;
    font-size: 80px;
    font-family: Poppins-600;
}

.span-premium {
    color: #FFFFFF;
    font-family: publicsans-500;
    font-size: 16px;
}

.col-card-member {
    max-width: 352px;
    padding-top: 20px;
    padding-left: 0px;
}

.card-member .card-body {
    padding: 0px;
}

.card-member h1 {
    margin-bottom: 64px;
    color: #006634;
    text-transform: uppercase;
    font-family: Poppins-700;
    font-size: 50px;
}

.title-member {
    margin-top: 80px;
    margin-bottom: 12px;
    font-family: publicsans-700;
    font-size: 24px;
}

.card-member {
    background-color: #F4F3EC;
}

.ul-member {
    list-style: none;
}

.ul-member li {
    margin-bottom: 3px;
}

.ul-member li p {
    display: inline-block;
    margin-left: 11px;
    margin-bottom: 13px;
    padding: 0px;
    font-family: Roboto-400;
    font-size: 16px;
    line-height: 16px;
}

.button-member-card {
    display: inline-block;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 49px;
    padding: 12px 50px 14px 50px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: publicsans-700;
    background-color: #006634;
    transition: 0.4s;
}

.button-member-card:hover {
    background-color: rgba(0, 128, 0, 0.582);
    color: white;
    text-decoration: none;
}

.a-member-card {
    display: flex;
    justify-content: center;
}

/* end card */

/* article */
.articles .title-artilces {
    margin-top: 206px;
    margin-bottom: 44px;
    font-family: Poppins-600;
    font-size: 38px;
}

.card-article-short {
    position: relative;
    margin: 11px;
    margin-bottom: 22px;
    border-radius: 5px;
}

.content-article-short {
    position: absolute;
    bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
    z-index: 9;
}

.card-article-short img {
    border-radius: 5px;
}

.content-article-short h1 {
    font-size: 24px;
    font-family: Poppins-600;
    color: #FFFFFF;
}

.content-article-short p {
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: publicsans-400;
}

.container-articles {
    max-width: 1240px;
    margin: auto;
}

.backgroud-bottom-short {
    position: absolute;
    bottom: 0px;
    height: 330px;
    width: 100%;
    border-radius: 5px;
    transition: 0.4s;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.79%, #000000 100%);
    z-index: 1;
}

.card-article-height {
    max-width: 380px;
    position: relative;
    height: 680px;
    margin: 11px;
    margin-bottom: 22px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #F4F3EC;
}

.content-article-height {
    position: absolute;
    bottom: 22px;
    padding-top: 37px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #F4F3EC;
}

.backgroud-bottom-height {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.content-article-height h1 {
    margin-bottom: 20px;
    font-family: Poppins-600;
    font-size: 24px;
}

.card-article-short:hover .backgroud-bottom-short {
    background: #F95738;
    opacity: 90%;
}

.card-article-height:hover img {
    height: 100%;
    transform: scale(1);
}

.card-article-height:hover .content-article-height {
    color: #FFFFFF;
    background: transparent;
    z-index: 2122;
}

.card-article-height:hover .backgroud-bottom-height {
    background-color: rgba(0, 102, 52, 60%);
    z-index: 1;
}

.content-article-height:hover .content-article-height h1 {
    color: #FFFFFF !important;
}

/* end article */
.form-qwther {
    margin-top: 140px;
}

.container-form {
    max-width: 1240px;
}

.input-email::placeholder {
    color: #3A3A3A;
    font-family: publicsans-400;
    font-size: 16px;
}

.input-message::placeholder {
    color: #3A3A3A;
    font-family: publicsans-400;
    font-size: 16px;
}

.input-name::placeholder {
    color: #3A3A3A;
    font-family: publicsans-400;
    font-size: 16px;
}

.input-name {
    width: 200px;
    height: 56px;
    margin-right: 16px;
    padding: 18px 22px;
    border: none;
    border-radius: 5px;
    background-color: #EFF2F1;
}

.input-email {
    width: 380px;
    height: 56px;
    margin-right: 16px;
    padding: 18px 22px;
    border: none;
    border-radius: 5px;
    background-color: #EFF2F1;
}

.input-message {
    display: inline-block;
    width: 600px;
    height: 95px;
    margin-right: 0px;
    padding: 18px 22px;
    padding-bottom: 56px;
    border: none;
    border-radius: 5px;
    background-color: #EFF2F1;
}

.input-emai-register {
    width: 456px;
    height: 56px;
    padding: 18px 22px;
    border: none;
    border-radius: 5px;
    background-color: #EFF2F1;
}

.input-emai-register::placeholder {
    color: #3A3A3A;
    font-family: publicsans-400;
    font-size: 16px;
}

.form-top-input {
    margin-bottom: 33px;
}

.col-register h1 {
    margin-bottom: 18px;
    padding-right: 55px;
    color: green;
    font-size: 34px;
}

.col-register {
    padding-left: 108px;
    padding-right: 54px;
}

.col-register p {
    margin-bottom: 19px;
    color: #3A3A3A;
    font-size: 16px;
    font-family: publicsans-400;
}

.col-signin-form {
    padding: 0px
}

.col-signin-form h1 {
    color: green;
    font-family: Poppins-600;
    font-size: 34px;
    margin-bottom: 20px;
}

.col-signin-form p {
    margin-bottom: 40px;
    padding-right: 210px;
    color: #3A3A3A;
    font-size: 16px;
    font-family: publicsans-400;
}


.button-form-signin {
    margin-top: 38px;
    margin-right: 21px;
    padding: 13px 47px 11px 52px;
    border: none;
    border-radius: 5px;
    color: #FFFF;
    font-family: 'publicsans-700';
    font-size: 16px;
    background: red;
    float: right;
}

.button-form-register {
    margin-top: 26px;
    padding: 13px 47px 11px 52px;
    border: none;
    border-radius: 5px;
    color: #FFFF;
    font-size: 16px;
    font-family: 'publicsans-700';
    background: red;
    float: left;
}

footer {
    margin-top: 75px;
    background-color: #006634;
}

.container-footer {
    max-width: 1240px;
}

.logo-footer {
    display: inline-block;
}

.logo-footer img {
    margin-bottom: 50px;
    margin-right: 50px;
}

.text-footer-left {
    display: inline-block;
}

.text-footer-left {
    padding-top: 78px;
}

.text-footer-left h1 {
    margin: 0px;
    color: #FFFFFF;
    font-family: Poppins-700;
    font-size: 25px;
}

.text-footer-left p {
    margin: 0px;
    font-family: publicsans-400;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.7;
}

.col-footer-right {
    padding-top: 86px;
    text-align: right;
}


.social-logo-footer {
    padding-bottom: 30px;
}

.social-logo-footer img {
    margin-right: 11px;
}

.text-footer-right {
    color: #FFFFFF;
    font-family: publicsans-400;
    font-size: 18px;
}

.text-footer-right p {
    display: inline-block;
    margin-right: 10px;
}

.row.row-articles {
    justify-content: center;
}

.error {
    display: block;
    color: #ff0000;
    font-weight: normal;
}

@media only screen and (max-width:1200px) {
    .col-card.col-card-member {
        padding-top: 20px;
    }

    button.button-form-signin {
        float: left;
        text-align: left;
    }

    .text-interview {
        padding: 0px;
        padding-right: 20px;
        padding-top: 100px;
    }

    .col-card-member {
        padding: 0px;
    }

    .col-text-card {
        padding: 0px;
    }

    .input-name {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 992px) {
    .col-card.col-card-member {
        padding-top: 10px;
    }

    .backgroud-bottom-short {
        height: 100%;
    }

    button.button-form-signin {
        float: initial;
    }

    .button-form-register {
        float: initial;
    }

    form#signin {
        padding: 10px;
    }

    .banner {
        margin-top: 71px;
    }

    .text-banner.col-banner {
        padding: 0px;
        padding-top: 15px;
        padding-left: 20px;
    }

    .content-banner {
        padding-right: 0px;
        font-size: 15px;
    }

    .imgbook-banner.col-banner {
        padding-top: 40px
    }

    .navbar {
        text-align: center !important;
    }

    .button-nav {
        margin: auto;
        padding: 8px 8px 8px 8px;
        width: 60%;
    }

    .nav-item:last-child {
        margin: auto;
    }


    .col-text-card {
        text-align: center;
    }

    .row-card-sale {
        justify-content: center;
    }

    .col-text-card h1 {
        font-size: 28px;
    }

    .content-card {
        font-size: 15px;
    }

    .special-content-card {
        font-size: 18px;
    }

    .card-member h1 {
        margin-bottom: 43px;
    }

    .ul-member li p {
        margin-bottom: 11px;
    }

    .col-card {
        padding: 10px;
    }

    .title-member {
        margin-top: 94px;
        margin-bottom: 39px;
    }

    .button-member-card {
        margin-top: 52px;
        margin-bottom: 37px;
    }

    .row.row-articles {
        justify-content: center;
    }

    .col-signin-form {
        text-align: center;
    }

    .col-signin-form p {
        padding: 0px;
    }

    .col-register {
        margin-top: 100px;
        padding: 0px;
        text-align: center;
    }

    .col-register h1 {
        padding: 0px;
    }

    .input-name {
        width: 100%;
    }

    .input-email {
        width: 100%;
    }

    .input-message {
        width: 100%;
    }

    .input-emai-register {
        margin: auto;
        width: 80%;
    }

    .logo-footer {
        display: block;
    }

    .logo-footer img {
        display: block;
        padding-top: 30px;
        margin: auto;

    }

    .text-footer-left {
        padding-top: 0px;
    }

    .col-footer-left {
        text-align: center;
    }

    .col-lg-6.col-footer-right {
        padding: 20px;
        text-align: center;
    }

    /* button */
    .button-member-banner a {
        padding: 8px 8px 8px 8px;
    }

    .text-interview a {
        padding: 8px 8px 8px 8px;
        margin-bottom: 10px;
    }

    .container-side-overview {
        margin: 0px;
        padding-top: 50px;
        text-align: center;
        padding: 7px;
    }

    .slider {
        padding: 10px;
        width: 100%;
    }

    /* text and title */
    .text-banner.col-banner h1 {
        font-size: 30px;
    }

    .container-side-overview h1 {
        font-size: 30px;
    }

    .sub-title-banner {
        font-size: 18px;
    }

    .content-banner {
        font-size: 15px;
    }

    .text-interview h1 {
        font-size: 30px;
    }

    .text-interview p {
        font-size: 15px;
    }

    .text-slide {
        font-size: 15px;
    }

    .special-text-slide {
        font-size: 18px;
    }
}


@media screen and (max-width: 576px) {
    .text-banner.col-banner {
        padding: 0px 50px 50px 50px;
        text-align: center;
    }

    .content-banner {
        padding: 0px;
    }

    .imgbook-banner.col-banner {
        padding-top: 10px;
    }

    .row-banner {
        margin-top: 36px;
        flex-direction: column-reverse;
    }

    .text-interview {
        padding-top: 50px;
        padding: 20px;
        text-align: center;
    }

    .text-interview p {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:280px) {
    .card-article-short {
        max-width: 90%;
        margin: auto;
    }

    .backgroud-bottom-short {
        height: 100%;
    }

    .content-article-short h1 {
        font-size: 18px;
    }

    .content-article-short p {
        font-size: 10px;
    }
}